@model ChatsListViewModel

<div id="plist" class="people-list">
    <div class="chat-sidebar">
        <!-- أزرار التبديل بين الأقسام -->
        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
            <label class="btn btn-secondary active flex-fill">
                <input type="radio" name="options" id="option1" autocomplete="off" checked onclick="showSection('privates')"> Privates
            </label>
            <label class="btn btn-secondary flex-fill">
                <input type="radio" name="options" id="option2" autocomplete="off" onclick="showSection('groups')"> Groups
            </label>
            <label class="btn btn-secondary flex-fill">
                <input type="radio" name="options" id="option3" autocomplete="off" onclick="showSection('broadcast')"> Broadcast
            </label>
        </div>



        <!-- الأقسام -->
        <div id="privates" class="chat-list-section">
            <ul class="list-unstyled chat-list mt-2 mb-0">
                @foreach (var chat in Model.users)
                {
                    <li class="clearfix" onclick="selectChat('@chat.UserId')">
                        <img src="@chat.ProfileImageFileName" alt="avatar">
                        <div class="about">
                            <div class="name">@chat.Username</div>
                            <div class="status">
                                @if (chat.IsOnline)
                                {
                                    <i class="fa fa-circle online"></i>
                                    <span>Online</span>
                                }
                                else
                                {
                                    <i class="fa fa-circle offline"></i>
                                    <span>@chat.CreatedAt</span>
                                }
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div id="groups" class="chat-list-section" style="display: none; margin-top:10px">
            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="button" id="btnJoinGroup" onclick="JoinGroup()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-add" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h4a.5.5 0 1 0 0-1h-4a.5.5 0 0 1-.5-.5V7.207l5-5 6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 1 0 1 0v-1h1a.5.5 0 1 0 0-1h-1v-1a.5.5 0 0 0-.5-.5" />
                    </svg>
                </button>
                <input type="text" id="GroupId" class="form-control" placeholder="Enter Group Id here..." aria-label="" aria-describedby="btnJoinGroup" autocomplete="off">
                <a class="btn btn-outline-secondary" href="/Group/Index">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zm0 1a6 6 0 1 1 0 12A6 6 0 0 1 8 2z" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </a>
            
            </div>
            <div class="groups-history">
                <ul class="list-unstyled chat-list mt-2 mb-0">
                    @foreach (var chat in Model.groups)
                    {
                        <li class="clearfix" onclick="selectChat('@chat.GroupId')">
                            <img src="@chat.GroupImageUrl" alt="avatar">
                            <div class="about">
                                <div class="name">@chat.GroupName</div>
                                <div class="status">
                                    <span>Group Chat</span>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div id="broadcast" class="chat-list-section" style="display: none;">
            <ul class="list-unstyled chat-list mt-2 mb-0">
                <li class="clearfix" onclick="selectChat('@Model.Broadcast')">
                    <img src="~/images/path_to_broadcast_image.jpg" alt="avatar">
                    <div class="about">
                        <div class="name">Broadcast</div>
                        <div class="status">
                            <span>Group Chat</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    function showSection(sectionId) {
        // إخفاء جميع الأقسام
        document.querySelectorAll('.chat-list-section').forEach(section => {
            section.style.display = 'none';
        });

        // عرض القسم المطلوب
        document.getElementById(sectionId).style.display = 'block';
    }
</script>
