@model ChatViewModel


<div class="chat">
    <div class="chat-header clearfix">
        <div class="row">
            <div class="col-lg-6">
                <img src="@Model.user.ProfileImageFileName" alt="avatar">
                <div class="chat-about">
                    <h6 class="m-b-0">@Model.user.Username</h6>
                    <small>@Model.user.CreatedAt</small>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-history">
        <ul class="m-b-0">
            @foreach (var message in Model.Messages)
            {
                <li class="clearfix">
                    <div class="message-data @message.Type">
                        <span class="message-data-time">@message.SentAt</span>
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">@* kkkkkkkkkkkkkkkkkk *@
                    </div>
                    <div class="message @message.Type">@message.MessageContent</div>
                </li>
            }
        </ul>
    </div>
    <div class="chat-message clearfix">
        <form method="post" asp-action="SendMessage" asp-controller="Chat">
            <div class="input-group mb-0">
            
                <div class="input-group-prepend">
                    <button type="submit"><span class="input-group-text"><i class="fa fa-send"> </i></span></button>
                    
                </div>
                <input type="text" class="form-control" id="message" name="MessageContent" placeholder="Enter text here..." required />
            
                <input type="hidden" name="ReceiverId" value="@Model.user.UserId" />
                <input type="hidden" name="Type" value="Individual" /> @*value aaaaaaaaaaaaaaaaaaaa *@
            </div>
        </form>
    </div>
</div>
