@model ChatViewModel

<div class="chat">
    <div class="chat-header clearfix">
        <div class="row">
            <div class="col-lg-6">
                <img src="@Model.user.ProfileImageFileName" alt="avatar">
                <div class="chat-about">
                    <h6 class="m-b-0">@Model.user.Username</h6>
                    <small>@Model.user.CreatedAt</small>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-history">
        <ul class="m-b-0">
            @foreach (var message in Model.Messages)
            {
                var chatClass = message.SenderId == Model.user.UserId ? "text-right" : "";
                var messageClass = message.SenderId == Model.user.UserId ? "other-message float-right" : "my-message";
                
                
                <li class="clearfix ">
                    <div class="message-data @chatClass">
                        <span class="message-data-time">@message.SentAt</span>
                        @if (message.SenderId == Model.user.UserId)
                        {
                            <img src="@Model.user.ProfileImageFileName" alt="avatar">
                        }
                    </div>
                    <div class="message @messageClass">@message.MessageContent</div>
                </li>
            }
        </ul>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <!-- تعديل الزر لاستخدام onclick -->
            <button class="btn btn-outline-secondary" type="button" id="btnSendMessage" onclick="sendMessage()">Send</button>
        </div>
        <input type="text" class="form-control" id="message" name="MessageContent" placeholder="Enter text here..." aria-label="" aria-describedby="basic-addon1">
        <input type="hidden" id="ReceiverId" value="@Model.user.UserId.ToString()" />
        <input type="hidden" id="Type" value="Private" />
    </div>
</div>

