@model chat_site_istemci.Models.ChatViewModel

<div id="plist" class="people-list">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Search...">
    </div>
    <ul class="list-unstyled chat-list mt-2 mb-0">
        @* @foreach (var chat in Model.Chats)
        {
            <li class="clearfix" onclick="selectChat('@chat.ChatId')">
                <img src="@chat.ImageUrl" alt="avatar">
                <div class="about">
                    <div class="name">@chat.Name</div>
                    <div class="status">
                        <i class="fa @chat.StatusIcon"></i>
                        @chat.StatusText
                    </div>
                </div>
            </li>
        } *@
    </ul>
</div>
